{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'article</th>
                <th>Date de publication</th>
                <th>Contenu</th>
                <th>Images</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.name }}</td>
                    <td>{{ article.date | date('d-m-Y') }}</td>
                    <td>{{ article.content }}</td>
                    <td> <img src="{{ asset(article.image) }}" style="height:20px; object-fit:contain;"/></td>
                    <td>
                        <a href="{{ path('article_user_show', {'id': article.id}) }}">Afficher</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">L'admin n'a publié aucun article</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}